img.resize {
    height: auto;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.medal-resize {
    height: auto;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

img.profilePic-resize {
    height: auto;
    width: 10%;

}

.fa-search {
    color: #dbdbdb;
}

*:focus {
    box-shadow: none !important
}

.dropdown-menu {
    padding: 0px;
    min-width: -webkit-fill-available;
    min-width: -moz-available;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
  }

.link-button:hover, .link-button:focus {
    text-decoration: none;
}

#landing-page {
    background-color: #5383e8;
}

#error-page, #loading-page {
    background-color: white;
}
#summoner-page {
    background-color: white;
    height: 100vh;
}

.has-text-grandmaster {
    color: #7d544c;
}

.has-text-master {
    color: #992da0;
}

.has-text-gold {
    color: gold;
}

.has-text-silver {
    color:silver;
}

.has-text-bronze {
    color: brown
}

.footer {
    background-color: white;
}