img.resize {
    height: auto;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.medal-resize {
    height: auto;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

img.profilePic-resize {
    height: auto;
    width: 15%;

}

.fa-search {
    color: #dbdbdb;
}

*:focus {
    box-shadow: none !important
}

.dropdown-menu {
    padding: 0px;
    min-width: -webkit-fill-available;
    min-width: -moz-available;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
  }

.link-button:hover, .link-button:focus {
    text-decoration: none;
}

.hero {
    background-color: #5383e8;
}